<div class = "container">
<h1> Students </h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Course name</th>
    </tr>
  </thead>

  <tbody>
  <%- @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.surname %></td>
      <td><%= student.courses.pluck(:title).join(", ") %></td>
      <td><%= link_to "Show", student_path(student)%></td>
      <td><%= link_to "Edit", edit_student_path(student) %></td>
      <td><%= link_to "Delete", student, method: :delete, data: { confirm: "Are you sure about that?" } %></td>
    </tr>  
  <% end %>
  
  
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
</div>