<%= form_with(model: participant, local: true) do |form| %>
    <div class="field">
      <%= form.label :course_id %>
      <%= form.text_field :course_id, value: (@course.id if @course) %>
     </div>

    <div class="field">
      <%= form.label :student_id %>
      <%= form.collection_select :student_id, Student.all, :id, :name, prompt: true %>
     </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>