<div class = "container">
<h1> Courses </h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Course start</th>
      <th>Course ends</th>
      <th>Min students</th>
      <th>Max students</th>
    </tr>
  </thead>

  <tbody>
  <%- @courses.each do |course| %>
    <tr>
      <td><%= course.title %></td>
      <td><%= course.description %></td>
      <td><%= course.begins_at.strftime("%d/%m/%Y - %H:%M") %></td>
      <td><%= course.ends_at.strftime("%d/%m/%Y - %H:%M") %></td>
      <td><%= course.min_participants %></td>
      <td><%= course.max_participants %></td>
      <td><%= link_to "Show", course_path(course)%></td>
      <td><%= link_to "Edit", edit_course_path(course) %></td>
      <td><%= link_to "Delete", course, method: :delete, data: { confirm: "Are you sure about that?" } %></td>
    </tr>  
  <% end %>
  
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
</div>